<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- PERMISSOES -->

    <application
        android:label="${appNome}"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:hardwareAccelerated="true">

        <!-- Renderizador: carrega o programa.so e cria as Views a partir da árvore. -->
        <activity
            android:name=".PrincipalActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="${orientacao}"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize|keyboardHidden|uiMode|screenLayout|smallestScreenSize|keyboard|navigation|layoutDirection|locale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
